@import "gtk_indicators_colors";
@import "gtk_indicators_button";

window {
  //background-image: none;
  background-color: $base-bg;
  color: $light-base-bg;
}

box.custom-widget-style
{
  label
  {
    font-size: 12px;
  }
  background-color: $base-border-color;
}

.dial-style
{
  background-color: $base-fg;
}

.battery-indicator-class
{
  //border: 3px dashed red;
}

.indicator-content-class {
  border-radius: 5px 5px 5px 5px;
  border: 3px solid $dark-base-bg;
  //box-shadow: inset 3px 3px rgba(255, 255, 255, 0.5), 0 10px 20px rgba(0, 0, 0, 0.9);
  background-color: $light-base-bg;
}

.inner-indicator-class {
}

.icon-indicator-class {
  background-image: none;
  background-color: yellow;
  border-radius: 10px 10px 10px 10px;
  //background-image: url("resource:///resource_path/resources/images/battery_level.svg");
  //background-size: 100% 100%;
}